
// Animosa
$animosa-font-path: "../fonts/animosa";

@font-face {
  font-family: "animosaExtraBold";
  src: url("#{$animosa-font-path}/animosaExtraBold.woff2") format("woff2"),
    url("#{$animosa-font-path}/animosaExtraBold.woff") format("woff"),
    url("#{$animosa-font-path}/animosaExtraBold.ttf") format("truetype"),
    url("#{$animosa-font-path}/animosaExtraBold.eot") format("eot");
}

@font-face {
  font-family: "animosaExtraLight";
  src: url("#{$animosa-font-path}/animosaExtraLight.woff2") format("woff2"),
    url("#{$animosa-font-path}/animosaExtraLight.woff") format("woff"),
    url("#{$animosa-font-path}/animosaExtraLight.ttf") format("truetype"),
    url("#{$animosa-font-path}/animosaExtraLight.eot") format("eot");
}

