button {
  &.tilt-button-wrap {
    appearance: none;
    letter-spacing: unset;
    word-spacing: unset;
    text-transform: unset;
    text-indent: unset;
    text-shadow: unset;
    display: unset;
    text-align: unset;
    align-items: unset;
    cursor: unset;
    background-color: unset;
    margin: unset;
    font: inherit;
    padding: unset;
    border: none;
    outline: unset;
  }
}
